apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: {{ printf "%s/%s:%s" .Values.global.imageRegistry .Values.images.api.repository .Values.images.api.tag }}
          imagePullPolicy: {{ .Values.images.api.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.api.port }}
          env:
            - name: POSTGRES_HOST
              value: {{ .Values.apiEnv.POSTGRES_HOST | quote }}
            - name: CHROMA_HOST
              value: {{ .Values.apiEnv.CHROMA_HOST | quote }}
            - name: CORS_ORIGINS
              value: {{ .Values.apiEnv.CORS_ORIGINS | quote }}
            - name: PROJECT_NAME
              value: {{ .Values.apiEnv.PROJECT_NAME | quote }}
            - name: API_V1_STR
              value: {{ .Values.apiEnv.API_V1_STR | quote }}
          envFrom:
            - secretRef:
                name: api-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
    - port: {{ .Values.service.api.port }}
      targetPort: {{ .Values.service.api.port }}
